<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>todolist</title>
  </head>
  <body>
    <div id="app">
      <section id="signInAndSignUp" v-if="!currentUser">
        <div>
          <label><input type="radio" name="type" v-model="actionType" value="signUp">注册</label>
          <label><input type="radio" name="type" v-model="actionType" value="login">登录</label>
        </div>
        <div class="signUp" v-if="actionType=='signUp'">
          <form @submit.prevent=signUp>
            <div class="formRow">
              <span class="msg">用户名</span><input type="text" v-model="formData.username" placeholder="username">
            </div>
            <div class="formRow">
              <span class="msg">密码</span><input type="password" v-model="formData.password" placeholder="password">
            </div>
            <div class="formActions">
              <input class="btn" type="submit" value="注册">
            </div>
          </form>
        </div>
        <div class="login" v-if="actionType=='login'">
          <form @submit.prevent="login">
            <div class="formRow">
              <span class="msg">用户名</span><input type="text" v-model="formData.username" placeholder="username">
            </div>
            <div class="formRow">
              <span class="msg">密码</span><input type="password" v-model="formData.password" placeholder="password">
            </div>
            <div class="formActions">
              <input class="btn" type="submit" value="登录">
            </div>
          </form>
        </div>
      </section>

      <section id="todo" v-if="currentUser">
        <p class="user-name">你好：{{currentUser.username}} <button class="btn" @click="logout">退出</button></p>
        <div class="newTask">
          <input type="text" v-model="newTodo" @keypress.enter="addTodo" placeholder="请输入待办事件">
        </div>
        <ul>
          <li class="todo" v-for="todo in todoList">
            <input class="todotitle" type="checkbox"  v-model="todo.done">{{ todo.title }}
            <div class="done">
              <span>{{todo.createdAt}}</span>
              <span v-if="todo.done">已完成</span>
              <span v-else>未完成</span>
              <button class="cancel" @click="removeTodo(todo)">X</button>  <!-- 删除按钮 -->
            </div>
          </li>
        </ul>  
      </section>

    </div>
    <p class="by"><a href="#"  target="_blank">vue-清单列表webapp </a>&nbsp;by&nbsp;张扬</p>
    <script src="bundle.js"></script>
  </body>
</html>